
*
{
  margin:1vw;
  margin:1vh;
  padding:0;
}

body
{
background-color: #3399FF;
}

#topp
{
  float: left;
  width:60vw;
  height:10vh;
  border: 0.5vw solid #C0C0C0;
  background-color:#D0D0D0;
}

#topp a
{
  background-color:#D0D0D0 ;
  color:black;
  text-decoration: none;
  display: block;
}

#topp a:hover
{
  color:red;

}


#mac
{
  text-decoration: none;
  color:black;
  font-size: 3vh;
}

#cont
{
  float: left;
  width:60vw;
  height:80vh;
  border: 0.5vw solid #C0C0C0;
  background-color:#D0D0D0;
}
